.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.2s;
  background-color: var(--overlay-bg-color);
  color: var(--overlay-text-color);
}

.overlay-item {
  padding: 10px;
  background-color: var(--overlay-item-bg-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

@media (max-width: 550px) {
  .overlay-item {
    padding: 7px;
  }
}

.low-opacity {
  transition: 0.2s;
  opacity: 20%;
}

.no-shade {
  background-color: rgba(0, 0, 0, 0);
}

.overlay span {
  font-weight: 500;
  color: yellow;
}

.overlay-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay-message p {
  text-align: center;
  padding: 1rem;
}

.overlay-score {
  align-self: flex-start;
  margin: 5px;
  margin-left: auto;
}

.overlay-button {
  align-self: flex-start;
  margin: 5px;
  padding: 0;
  display: flex;
  cursor: pointer;
}

.overlay svg {
  width: 36px;
  height: 36px;
  fill: white;
}
